## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
app_df = application_df.drop(columns=["EIN","NAME"])
app_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
app_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_df.value_counts(["APPLICATION_TYPE"])

APPLICATION_TYPE
T3                  27037
T4                   1542
T6                   1216
T5                   1173
T19                  1065
T8                    737
T7                    725
T10                   528
T9                    156
T13                    66
T12                    27
T2                     16
T14                     3
T25                     3
T29                     2
T15                     2
T17                     1
dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
app_df.value_counts(["CLASSIFICATION"])

CLASSIFICATION
C1000             17326
C2000              6074
C1200              4837
C3000              1918
C2100              1883
                  ...
C2190                 1
C2380                 1
C2500                 1
C2561                 1
C8210                 1
Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
app_df["CLASSIFICATION"].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
filtered_values = app_df["CLASSIFICATION"].value_counts().loc[lambda x: x < 150]

classifications_to_replace = filtered_values.index.tolist()

# Print the filtered values list
print(classifications_to_replace)

['C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
app_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1003
C7000      777
C1700      287
C4000      194
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_columns = ['CLASSIFICATION', 'APPLICATION_TYPE']
dummy_variables = pd.get_dummies(app_df[categorical_columns])
print(dummy_variables)

       CLASSIFICATION_C1000  CLASSIFICATION_C1200  CLASSIFICATION_C1700  \
0                         1                     0                     0
1                         0                     0                     0
2                         0                     0                     0
3                         0                     0                     0
4                         1                     0                     0
...                     ...                   ...                   ...
34294                     1                     0                     0
34295                     0                     0                     0
34296                     0                     0                     0
34297                     0                     0                     0
34298                     1                     0                     0

       CLASSIFICATION_C2000  CLASSIFICATION_C2100  CLASSIFICATION_C3000  \
0                         0                     0                     0
1                         1                     0                     0
2                         0                     0                     1
3                         1                     0                     0
4                         0                     0                     0
...                     ...                   ...                   ...
34294                     0                     0                     0
34295                     0                     0                     1
34296                     1                     0                     0
34297                     0                     0                     1
34298                     0                     0                     0

       CLASSIFICATION_C4000  CLASSIFICATION_C7000  CLASSIFICATION_Other  \
0                         0                     0                     0
1                         0                     0                     0
2                         0                     0                     0
3                         0                     0                     0
4                         0                     0                     0
...                     ...                   ...                   ...
34294                     0                     0                     0
34295                     0                     0                     0
34296                     0                     0                     0
34297                     0                     0                     0
34298                     0                     0                     0

       APPLICATION_TYPE_T10  ...  APPLICATION_TYPE_T2  APPLICATION_TYPE_T25  \
0                         1  ...                    0                     0
1                         0  ...                    0                     0
2                         0  ...                    0                     0
3                         0  ...                    0                     0
4                         0  ...                    0                     0
...                     ...  ...                  ...                   ...
34294                     0  ...                    0                     0
34295                     0  ...                    0                     0
34296                     0  ...                    0                     0
34297                     0  ...                    0                     0
34298                     0  ...                    0                     0

       APPLICATION_TYPE_T29  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
0                         0                    0                    0
1                         0                    1                    0
2                         0                    0                    0
3                         0                    1                    0
4                         0                    1                    0
...                     ...                  ...                  ...
34294                     0                    0                    1
34295                     0                    0                    1
34296                     0                    1                    0
34297                     0                    0                    0
34298                     0                    1                    0

       APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  \
0                        0                    0                    0
1                        0                    0                    0
2                        1                    0                    0
3                        0                    0                    0
4                        0                    0                    0
...                    ...                  ...                  ...
34294                    0                    0                    0
34295                    0                    0                    0
34296                    0                    0                    0
34297                    1                    0                    0
34298                    0                    0                    0

       APPLICATION_TYPE_T8  APPLICATION_TYPE_T9
0                        0                    0
1                        0                    0
2                        0                    0
3                        0                    0
4                        0                    0
...                    ...                  ...
34294                    0                    0
34295                    0                    0
34296                    0                    0
34297                    0                    0
34298                    0                    0

[34299 rows x 26 columns]

In [11]:
# Split our preprocessed data into our features and target arrays
numeric_columns = dummy_variables.columns.difference(categorical_columns)
y = app_df["IS_SUCCESSFUL"]
X = dummy_variables[numeric_columns]
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=26, activation="relu", input_dim=26))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=26, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 26)                702

 dense_1 (Dense)             (None, 26)                702

 dense_2 (Dense)             (None, 1)                 27

=================================================================
Total params: 1,431
Trainable params: 1,431
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=20)

Epoch 1/20
804/804 [==============================] - 2s 1ms/step - loss: 0.6474 - accuracy: 0.6081
Epoch 2/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6421 - accuracy: 0.6141
Epoch 3/20
804/804 [==============================] - 1s 2ms/step - loss: 0.6418 - accuracy: 0.6130
Epoch 4/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6418 - accuracy: 0.6124
Epoch 5/20
804/804 [==============================] - 1s 2ms/step - loss: 0.6413 - accuracy: 0.6129
Epoch 6/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6415 - accuracy: 0.6139
Epoch 7/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6411 - accuracy: 0.6133
Epoch 8/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6414 - accuracy: 0.6143
Epoch 9/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6412 - accuracy: 0.6123
Epoch 10/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6412 - accuracy: 0.6159
Epoch 11/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6408 - accuracy: 0.6142
Epoch 12/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6409 - accuracy: 0.6133
Epoch 13/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6407 - accuracy: 0.6146
Epoch 14/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6409 - accuracy: 0.6146
Epoch 15/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6405 - accuracy: 0.6149
Epoch 16/20
804/804 [==============================] - 1s 2ms/step - loss: 0.6405 - accuracy: 0.6144
Epoch 17/20
804/804 [==============================] - 2s 2ms/step - loss: 0.6408 - accuracy: 0.6142
Epoch 18/20
804/804 [==============================] - 1s 2ms/step - loss: 0.6406 - accuracy: 0.6133
Epoch 19/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6406 - accuracy: 0.6151
Epoch 20/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6407 - accuracy: 0.6139

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6420 - accuracy: 0.6108 - 457ms/epoch - 2ms/step
Loss: 0.6419759392738342, Accuracy: 0.6108455061912537

In [17]:
# Export our model to HDF5 file
model.save('model.h5')

NameError: name 'model' is not defined

In [37]:
app_df2 = app_df[(['CLASSIFICATION', 'APPLICATION_TYPE','IS_SUCCESSFUL', 'ASK_AMT'])]
y = app_df2["IS_SUCCESSFUL"]

In [38]:

X_train, X_test, y_train, y_test = train_test_split(app_df2, y, test_size=0.2, random_state=42)

In [39]:
non_numeric_columns = ['CLASSIFICATION', 'APPLICATION_TYPE', 'ASK_AMT']
df_encoded = pd.get_dummies(app_df2, columns=non_numeric_columns)
numeric_columns = df_encoded.columns.difference(non_numeric_columns)
X_train_encoded = df_encoded[numeric_columns]

In [40]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_encoded)

In [41]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(32, activation='relu', input_shape=(X_train_scaled.shape[1],)))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))

In [42]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [53]:
model.fit(X_train, y_train, epochs=100, batch_size=32)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).

In [48]:
print(len(X_train_scaled))

34299

In [33]:
print(app_df2)

      CLASSIFICATION APPLICATION_TYPE  IS_SUCCESSFUL   ASK_AMT
0              C1000              T10              1      5000
1              C2000               T3              1    108590
2              C3000               T5              0      5000
3              C2000               T3              1      6692
4              C1000               T3              1    142590
...              ...              ...            ...       ...
34294          C1000               T4              0      5000
34295          C3000               T4              0      5000
34296          C2000               T3              0      5000
34297          C3000               T5              1      5000
34298          C1000               T3              0  36500179

[34299 rows x 4 columns]

In [34]:
print(app_df)

      APPLICATION_TYPE       AFFILIATION CLASSIFICATION      USE_CASE  \
0                  T10       Independent          C1000    ProductDev
1                   T3       Independent          C2000  Preservation
2                   T5  CompanySponsored          C3000    ProductDev
3                   T3  CompanySponsored          C2000  Preservation
4                   T3       Independent          C1000     Heathcare
...                ...               ...            ...           ...
34294               T4       Independent          C1000    ProductDev
34295               T4  CompanySponsored          C3000    ProductDev
34296               T3  CompanySponsored          C2000  Preservation
34297               T5       Independent          C3000    ProductDev
34298               T3       Independent          C1000  Preservation

       ORGANIZATION  STATUS     INCOME_AMT SPECIAL_CONSIDERATIONS   ASK_AMT  \
0       Association       1              0                      N      5000
1      Co-operative       1         1-9999                      N    108590
2       Association       1              0                      N      5000
3             Trust       1    10000-24999                      N      6692
4             Trust       1  100000-499999                      N    142590
...             ...     ...            ...                    ...       ...
34294   Association       1              0                      N      5000
34295   Association       1              0                      N      5000
34296   Association       1              0                      N      5000
34297   Association       1              0                      N      5000
34298  Co-operative       1          1M-5M                      N  36500179

       IS_SUCCESSFUL
0                  1
1                  1
2                  0
3                  1
4                  1
...              ...
34294              0
34295              0
34296              0
34297              1
34298              0

[34299 rows x 10 columns]

In [52]:
print(len(X_train))

27439